<!DOCTYPE html>

{% extends "header.html" %}

{% load static %}

<html lang="en">
    {% block content %}

    <body>
        <!-- Responsive navbar-->
       
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">Welcome to Blog Home</h1>

                    <p class="fw-bold">Currently logged in as {{request.user}}</p>
                </div>
            </div>
        </header>
        {% if not allpost %}

        <div class="container">
            <div class="text-center my-5 text-danger">
        
                <p class="lead mb-0" styl style="font-weight: bolder;">opp! currently do not have any approved posts. Please contact administrator for assistance</p>
            </div>
        </div>
        {% else %}
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <a href="#"><img class="card-img-top" src="{{ Post_by_cat.upload_image.url }}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">{{Post_by_cat.date_created|date:"D d F Y"}}</div>
                            <h2 class="card-title">{{Post_by_cat.title}}</h2>
                            <p class="card-text">{{Post_by_cat.body |slice:":100" }}</p>
                        <div class="card-body">
                            <a class="btn btn-primary" href="{% url 'details' Post_by_cat.pk %}">Read more →</a>
                        </div>
                    </div>
                    <!-- Nested row for non-featured blog posts-->
                    <div class="row">
                        {% for Post in allpost %}
                    <div class="col-lg-6">
                        <!-- Blog post-->
                        <div class="card mb-4">
                            <a href="">{% url 'details' Post.pk %}<img class="card-img-top" src= "{{ Post.upload_image.url }}" alt="..." /></a>
                            <div class="card-body">
                                <div class="small text-muted">{{Post.date_created|date:"D d F Y"}}</div>
                                <h2 class="card-title h4">{{Post.title}}</h2>
                                <p class="card-text">{{Post.body |slice:":100" }}</p>
                                <a class="btn btn-primary" href="{% url 'details' Post.pk %}">Read more →</a>
                                {% comment %} <a class= "btn btn-danger" href="{% url 'indexx' Post.pk %}">Delete </a> {% endcomment %}
                                {% comment %} <a class= "btn btn-success" href="{% url 'details' Post.pk %}">Update </a> {% endcomment %}
                            
                            
                            </div>
                        </div>

                    </div>
                         {% endfor %}
                    </div>
                    <!-- Pagination-->
                    <nav aria-label="Pagination">
                        <hr class="my-0" />
                        <ul class="pagination justify-content-center my-4">
                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                            <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                            <li class="page-item"><a class="page-link" href="#!">2</a></li>
                            <li class="page-item"><a class="page-link" href="#!">3</a></li>
                            <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                            <li class="page-item"><a class="page-link" href="#!">15</a></li>
                            <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- Side widgets-->
                
                
            </div>
          
            {% include "sidebar.html" %}
            {% endif %}
        </div>
       
        <!-- Footer-->
        {% include "footer.html" %}

        
    </body>
    

    

     {% endblock content %}
</html>
