<!DOCTYPE html>
{% extends "header.html" %}

{% load static %}

<html lang="en">
{% block content %}

<body>
    
    <!-- Page content-->
    <div class="container mt-5">
        
              
                <section class="mb-5">
                    <div class="card bg-light">
                        <div class="card-body">
                          
                            <form method="post" action="{% url 'postupdate' post_details.pk %}">
                                {% csrf_token %}
                            
                                <div class="form-con">
                                    <div class="mb-3">
                                        <input type="text" name="title" id="" placeholder="Post title" class="form-control">
                                    </div>
                                     
            
                                    <div class="mb-3">
                                       <textarea name="body" class="form-control" id="" cols="30" rows="10" placeholder="Enter Message Here"></textarea>
                                    </div>
                                    
            
                                     <div class="mb-3 btn1">
                                        
                                       <button type="submit" class="btn btn-success">Update Post</button>
                                
                                      </div>
                                  </div>





                                <button type="submit" class="btn btn-success btn-lg">Submit</button>
                            </form>
                          
                            
                        </div>
                        
                        
                        
                    </div>
                       
                   
                </section>
                
            </div>
         
            <!-- Side widgets-->
           
        </div>
        
    
        </body>
{% include "footer.html" %}

{% endblock content %}
   
</html>
