<!DOCTYPE html>
{% extends "header.html" %}

{% load static %}

<html lang="en">
{% block content %}

<body>
    
    <!-- Page content-->
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">{{post_details.title}}</h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">{{post_details.date_created|date:"D d F Y"}} || by {{post_details.author}}</div>
                        <!-- Post categories-->
                        
                    
                        {% comment %} <span><a class= "btn btn-danger  btn-sm" href="{% url 'delete_update' post_details.pk %}">Delete </a></span> {% endcomment %}
                       
                       <a class="badge bg-secondary text-decoration-none link-light" href="{% url 'details' post_details.pk %}">{{post_details.category}}</a>
                       {% if request.user %}

                       <span><a class= "btn btn-danger  btn-sm" href="{% url 'delete_update' post_details.pk %}">Delete </a></span>
                       <span><a class= "btn btn-success btn-sm" href="{% url 'updpost' post_details.pk %}">Update </a></span>

''                       {% endif %}

                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4"><img class="img-fluid rounded" src="{{post_details.upload_image.url}}" alt="..." /></figure>
                    <!-- Post content-->
                    <section class="mb-5">
                        <p class="fs-5 mb-4">{{post_details.body}}</p>
                         </section>
                </article>
                <!-- Comments section-->
                <section class="mb-5">
                    <div class="card bg-light">
                        <div class="card-body">
                            <!-- Comment form-->
                            
                            <form class="mb-4" method="post" action="{% url "comment" post_details.pk %}">
                                {% csrf_token %}
                             <textarea class="form-control" rows="3" name="comment" placeholder="Join the discussion and leave a comment!">

                                </textarea>
                                <div class="mt-3">
                                    <input type="submit" class="btn btn-primary" value="Post Comment">
                                </div> 
                            
                            </form>                            <!-- Single comment-->
                                
                                <div class="d-flex">
                                {% for comment in post_details.comments.all %}
                                
                                
                                <div class="flex-shrink-0"><img class="rounded-circle" src={{comment.user.profile.url}} width="40" alt="..." /></div>
                                <div class="ms-3">
                                    <div class="fw-bold">{{comment.commenter_name}}</div>
                                {{comment}}

                                {% endfor %}
                            </div>
                             
                            </div>
                        
                        </div>
                        
                    </div>
                   
                </section>
                
            </div>
            {% include "sidebar.html" %}
            <!-- Side widgets-->
           
        </div>
        
    
        </body>
{% include "footer.html" %}

{% endblock content %}
   
</html>
